{% load static %}
<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

{% include "pagediverxia/comun/head.html" %}

<body>


    <!-- Start Main Top -->
    <div class="main-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="text-slid-box">
                        <div id="offer-box" class="carouselTicker">
                            <ul class="offer-box">
                                <li>
                                    <i class="fab fa-opencart"></i> descuento 10%! compra ahora
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> 50% - 80% de descuento en moda
                                </li>
                                
                                <li>
                                    <i class="fab fa-opencart"></i> descuento 50%! compra ahora
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> descuento 10%! hombres compra ahora
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> 50% - 80% descuento en moda
                                </li>
                                
                                <li>
                                    <i class="fab fa-opencart"></i> descuento 50%! compra hoy
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="custom-select-box">
                        <select id="basic" class="selectpicker show-tick form-control" data-placeholder="$ USD">
						<option>soles</option>
						<option>dolares</option>
						
					</select>
                    </div>
                    <div class="right-phone-box">
                        <p>Contáctanos: <a href="#"> 937389730</a></p>
                    </div>
                    <div class="our-link">
                        <ul>
                            <li><a href="/appdiverxia/login">Iniciar Sesion</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Main Top -->

    <!-- Start Main Top -->
    <header class="main-header">
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
            <div class="container">
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                    <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static "pagediverxia/images/logo.png" %}" class="logo" alt=""></a>
                </div>
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="nav-item active"><a class="nav-link" href="{% url 'index' %}">INICIO</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'nosotros' %}">NOSOTROS</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'productos' %}">PRODUCTO</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'contacto' %}">CONTACTO</a></li>
                    </ul>
                </div>
                
            </div>
            <!-- Start Side Menu -->
            
            <!-- End Side Menu -->
        </nav>
        <!-- End Navigation -->
    </header>

    <div id="slides-shop" class="cover-slides">
        <ul class="slides-container">
            <li class="text-left">
                <img src="{% static "pagediverxia/images/banner-01.jpg" %}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Bienvenidos a <br> Diverxia</strong></h1>
                            
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-center">
                <img src="{% static "pagediverxia/images/slider.jpg" %}" alt="">
                <div class="container">
                    <div class="row">
                        
                    </div>
                </div>
            </li>
            <li class="text-right">
                <img src="{% static "pagediverxia/images/banner-03.jpg" %}" alt="">
                <div class="container">
                    <div class="row">
                        
                    </div>
                </div>
            </li>
        </ul>
        <div class="slides-navigation">
            <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
            <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
        </div>
    </div>
    <!-- End Slider -->

    <!-- Start Categories  -->
    <div class="categories-shop">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="{% static "pagediverxia/images/t-shirts-img.jpg" %}" alt="" />
                        <a class="btn hvr-hover" href="#">Polos</a>
                    </div>
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="{% static "pagediverxia/images/shirt-img.jpg" %}" alt="" />
                        <a class="btn hvr-hover" href="#">Camisa</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="{% static "pagediverxia/images/wallet-img.jpg" %}" alt="" />
                        <a class="btn hvr-hover" href="#">Billetera</a>
                    </div>
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="{% static "pagediverxia/images/women-bag-img.jpg" %}" alt="" />
                        <a class="btn hvr-hover" href="#">Carteras</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="{% static "pagediverxia/images/shoes-img.jpg" %}" alt="" />
                        <a class="btn hvr-hover" href="#">Zapatos</a>
                    </div>
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="{% static "pagediverxia/images/women-shoes-img.jpg" %}" alt="" />
                        <a class="btn hvr-hover" href="#">Zapatos de mujer</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Categories -->

    <!-- Start Products  -->
    <div class="products-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>Poductos destacados</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="special-menu text-center">
                        <div class="button-group filter-button-group">
                            <button data-filter=".top-featured">Damas</button>
                            <button data-filter=".best-seller">Caballeros</button>
                            <button data-filter=".best-seller1">Accesorios</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row special-list">
                        <!-- DAMAS -->
                <div class="col-lg-3 col-md-6 special-grid top-featured">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <div class="type-lb">
                                <p class="new">Oferta</p>
                            </div>
                            <img src="{% static "pagediverxia/images/mujer0.jpg" %}" class="img-fluid" alt="Image">
                        </div>
                        <div class="why-text">
                            <h4>Jumper Bles</h4>
                            <h5>S/74</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 special-grid top-featured">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <div class="type-lb">
                                <p class="sale">Oferta</p>
                            </div>
                            <img src="{% static "pagediverxia/images/damas.jpg" %}" class="img-fluid" alt="Image">
                        </div>
                        <div class="why-text">
                            <h4>Blusa Seila</h4>
                            <h5> S/ 44.00</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 special-grid top-featured">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <div class="type-lb">
                                <p class="sale">Oferta</p>
                            </div>
                            <img src="{% static "pagediverxia/images/dama1.jpg" %}" class="img-fluid" alt="Image">
                        </div>
                        <div class="why-text">
                            <h4>Blusa HADIYA: S/ 119.00</h4>
                            <h4>Pantalón LUA: S/ 169.00</h4>
                            
                            <h5> S/ 288.00</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 special-grid top-featured">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <div class="type-lb">
                                <p class="sale">Oferta</p>
                            </div>
                            <img src="{% static "pagediverxia/images/dama2.jpg" %}" class="img-fluid" alt="Image">
                        </div>
                        <div class="why-text">
                            <h4>Conjunto</h4>
                            <h5>S/ 49.00</h5>
                        </div>
                    </div>
                </div>
                        <!-- HOMBRES -->
                <div class="col-lg-3 col-md-6 special-grid best-seller">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <div class="type-lb">
                                <p class="new">Oferta</p>
                            </div>
                            <img src="{% static "pagediverxia/images/caba.jpg" %}" class="img-fluid" alt="Image">
                        </div>
                        <div class="why-text">
                            <h4>Conjunto Norton</h4>
                            <h5>S/269.00</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 special-grid best-seller">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <div class="type-lb">
                                <p class="sale">Oferta</p>
                            </div>
                            <img src="{% static "pagediverxia/images/caba1.jpg" %}" class="img-fluid" alt="Image">
                        </div>
                        <div class="why-text">
                            <h4>Conjunto Norton</h4>
                            <h5>S/249.00</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 special-grid best-seller">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <div class="type-lb">
                                <p class="sale">Oferta</p>
                            </div>
                            <img src="{% static "pagediverxia/images/caba2.jpg" %}" class="img-fluid" alt="Image">
                        </div>
                        <div class="why-text">
                            <h4>Pionier Jeans</h4>
                            <h5> S/ 288.00</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 special-grid best-seller">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <div class="type-lb">
                                <p class="sale">Oferta</p>
                            </div>
                            <img src="{% static "pagediverxia/images/caba3.jpg" %}" class="img-fluid" alt="Image">
                        </div>
                        <div class="why-text">
                            <h4>Conjunto</h4>
                            <h5>S/ 49.00</h5>
                        </div>
                    </div>
                </div>
                        <!-- ACCESORIOS -->
                <div class="col-lg-3 col-md-6 special-grid best-seller1">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <div class="type-lb">
                                <p class="new">Oferta</p>
                            </div>
                            <img src="{% static "pagediverxia/images/ac1.jpg" %}" class="img-fluid" alt="Image">
                        </div>
                        <div class="why-text">
                            <h4>llévate esta webada a </h4>
                            <h5>S/ 59.00</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 special-grid best-seller1">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <div class="type-lb">
                                <p class="sale">Oferta</p>
                            </div>
                            <img src="{% static "pagediverxia/images/ac2.jpg" %}" class="img-fluid" alt="Image">
                        </div>
                        <div class="why-text">
                            <h4>Billetera</h4>
                            <h5>S/ 19.99</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 special-grid best-seller1">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <div class="type-lb">
                                <p class="sale">Oferta</p>
                            </div>
                            <img src="{% static "pagediverxia/images/ac3.jpg" %}" class="img-fluid" alt="Image">
                        </div>
                        <div class="why-text">
                            <h4>Bolsa</h4>
                            <h5>S/ 24.99</h5>
                        </div>
                     </div>
                </div>
                <div class="col-lg-3 col-md-6 special-grid best-seller1">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <div class="type-lb">
                                <p class="sale">Oferta</p>
                            </div>
                            <img src="{% static "pagediverxia/images/ac4.jpg" %}" class="img-fluid" alt="Image">
                        </div>
                        <div class="why-text">
                            <h4>Bolsa</h4>
                            <h5>S/ 20.00</h5>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- End Products  -->

    <!-- Start Blog  -->
    <div class="latest-blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>Productos Destacados</h1>
                        <p>Diverxia es una tienda multimarca en donde podrás encontrar prendas de vestir , calzado y accesorios de estilo urbano y casual para vestir a la mujer y a toda la familia. Comercializamos las marcas : Pionier, Gzuck, Squeeze y Norton.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4 col-xl-4">
                    <div class="blog-box">
                        <div class="blog-img">
                            <img class="img-fluid" src="{% static "pagediverxia/images/mujer.jpg" %}" alt="" />
                        </div>
                        <div class="blog-content">
                            <div class="title-blog">
                                <h3>Ropa para Damas</h3>
                                <p>Diverxia es una tienda multimarca en donde podrás encontrar prendas de vestir , calzado y accesorios de estilo urbano y casual para vestir a la mujer y a toda la familia. 
                                    Comercializamos las marcas : Pionier, Gzuck, Squeeze y Norton</p>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-4">
                    <div class="blog-box">
                        <div class="blog-img">
                            <img class="img-fluid" src="{% static "pagediverxia/images/hombre.jpg" %}" alt="" />
                        </div>
                        <div class="blog-content">
                            <div class="title-blog">
                                <h3>Caballero</h3>
                                <p>Diverxia es una tienda multimarca en donde podrás encontrar prendas de vestir , calzado y accesorios de estilo urbano y casual para vestir a la mujer y a toda la familia.
                                     Comercializamos las marcas : Pionier, Gzuck, Squeeze y Norton</p>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-4">
                    <div class="blog-box">
                        <div class="blog-img">
                            <img class="img-fluid" src="{% static "pagediverxia/images/accesorios.jpg" %}" alt="" />
                        </div>
                        <div class="blog-content">
                            <div class="title-blog">
                                <h3>Accesorios</h3>
                                <p>Diverxia es una tienda multimarca en donde podrás encontrar prendas de vestir , calzado y accesorios de estilo urbano y casual para vestir a la mujer y a toda la familia. 
                                    Comercializamos las marcas : Pionier, Gzuck, Squeeze y Norton</p>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Blog  -->


    <!-- Start Instagram Feed  -->
    
    <!-- End Instagram Feed  -->


    <!-- Start Footer  -->
    <footer>
        <div class="footer-main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-widget">
                            <h4>DIVERXIA</h4>
                            <p>¡Bienvenidos a la comunidad oficial de Diverxia!
                             donde encontraras las mejores marcas en ropa y accesorios
                            </p>
                            <p>Ropa, Accesorios, Zapatillas, Camisas, Blusas, Pantalones,
                                Casacas, Gorras, Mochilas, Polos.
                            </p>
                            <ul>
                                <li><a href="https://m.me/100218348633298?ref=diverxia" target="_blank"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="https://bit.ly/2VPleUE" target="_blank"><i class="fab fa-whatsapp" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-widget">
                            <h4>Informacion</h4>
                            <p>¡Compra por WhatsApp! 📱💬 Ahora estamos más cerca de ti 🙂

                                *comunícate con tu asesor especializado quien te orientará en tu compra
                                 y hará que te llegue el pedido aún más rápido 😉👇</p>
                            <p><i class="fab fa-whatsapp fa-2x"></i>  937389730<a href="937389730"></a></p>
                            
                            <p>Horario: 10:00 - 20:00</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link-contact">
                            <h4>Contacto</h4>
                            <ul>
                                <li>
                                    <p><i class="fas fa-map-marker-alt"></i>Direccion: La Rambla - Brasil  <br>Brasil 714<br> Breña 15083 </p>
                                </li>
                                <li>
                                    <p><i class="fas fa-phone-square"></i>Celular: <a href="#"> 937389730</a></p>
                                </li>
                                <li>
                                    <p><i class="fas fa-envelope"></i>Correo: <a href="mailto:contactinfo@gmail.com">ventasdivexia@divexia.com</a></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer  -->
        <!-- Load Facebook SDK for JavaScript -->

    <!-- Start copyright  -->
    <div class="footer-copyright">
        <p class="footer-company">Derechos reservados &copy; 2020 <a href="#">Diverxia</a> Diseñado por :
            <a href="#">jramos</a></p>
    </div>
    <!-- End copyright  -->

    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

{% include "pagediverxia/comun/scripts.html" %}

</body>

</html>