{% extends "admin/base.html" %}

{% block title %}{{ title }} | {{ site_title|default:_('Diverxia site admin') }}{% endblock %}
{% load staticfiles %}
{% block branding %}
{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'css/admin/admin.css' %}">
{% endblock %}

{% block branding %}
    <img src="{% static 'img/login.png' %}" alt="sitio">
{% endblock %}


<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Diverxia administration') }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
