{% load static %}
<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>Diverxia - 2020</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="../../static/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="../../static/images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="../../static/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="../../static/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../../static/css/custom.css">

</head>

<body>

    <!-- Start Main Top -->
    <div class="main-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="text-slid-box">
                        <div id="offer-box" class="carouselTicker">
                            <ul class="offer-box">
                                <li>
                                    <i class="fab fa-opencart"></i> descuento 10%! compra ahora
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> 50% - 80% de descuento en moda
                                </li>
                                
                                <li>
                                    <i class="fab fa-opencart"></i> descuento 50%! compra ahora
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> descuento 10%! hombres compra ahora
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> 50% - 80% descuento en moda
                                </li>
                                
                                <li>
                                    <i class="fab fa-opencart"></i> descuento 50%! compra hoy
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="custom-select-box">
                        <select id="basic" class="selectpicker show-tick form-control" data-placeholder="$ USD">
						<option>soles</option>
						<option>dolares</option>
						
					</select>
                    </div>
                    <div class="right-phone-box">
                        <p>Contáctanos: <a href="#"> 937389730</a></p>
                    </div>
                    <div class="our-link">
                        <ul>
                            <li><a href="http://127.0.0.1:8000/admin/login/">Iniciar Sesion</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Main Top -->

    <!-- Start Main Top -->
    <header class="main-header">
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
            <div class="container">
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                    <a class="navbar-brand" href="index.html"><img src="../../static/images/logo.png" class="logo" alt=""></a>
                </div>
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                         <li class="nav-item "><a class="nav-link" href="{% url 'index' %}">INICIO</a></li>
                        <li class="nav-item active"><a class="nav-link" href="{% url 'nosotros' %}">NOSOTROS</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'productos' %}">PRODUCTO</a></li>
                        <li class="nav-item "><a class="nav-link" href="{% url 'contacto' %}">CONTACTO</a></li>
                    </ul>
                </div>
                
            </div>
            
        </nav>
        <!-- End Navigation -->
    </header>
    
    <div class="all-title-box">
        <div class="container">
            
        </div>
    </div>
    
    <div class="about-box-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h2 class="noo-sh-title">QUIÉNES SOMOS <span>Nosotros</span></h2>
                    <p>Desde 1990 somos una marca de prendas de vestir para mujeres, hombres y niños, peruana, cumplimos 30 años en el mercado nacional. Contamos con un staff de diseñadores de moda altamente capacitados que recogen las tendencias a nivel mundial y las adaptan a sus propuestas con diseños innovadores y con altos estándares de calidad. ¡Todo para que luzcas a la moda siempre!..</p>
                    <p>Somos una marca que representa a la moda peruana. Nuestros productos están diseñados con los estándares más altos de calidad y con el mejor entalle del mercado. Tenemos los jeans favoritos del Perú, contamos con presencia en todas las ciudades a nivel nacional con más de 10 tiendas y distribuidores autorizados. Llevamos decadas vistiendo a toda la familia peruana, ofreciendo productos para niños, hombres y mujeres de todas las edades. Contamos con el mix completo de prendas de vestir: pantalones (jean, drill, etc), polos, blusas, tops, camisas, casacas, bermudas, croppeds, boleros, chompas; ademas de accesorios que complementan un look perfecto.</p>
                </div>
                <div class="col-lg-6">
                    <div class="banner-frame"> <img class="img-thumbnail img-fluid" src="../../static/images/nosotros.png" alt="" />
                    </div>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>MISION</h3>
                        <p>Diverxia se dedica a la producción y comercialización de productos 
                            hechos en tela de Jean, porque es de utilidad diaria y viable en el mercado
                             por su comodidad, estilo, y por elegancia que hacen que toda persona lo 
                             adquiera por su calidad e innovación y así poder satisfacer la necesidad de sus clientes.
                        </p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>VISION</h3>
                        <p>Ser una empresa de referencia, líder en distribución de moda de diseño 
                            infantil y juvenil  en continuo crecimiento, con presencia internacional,
                            que se distinga por proporcionar una calidad de atención y servicio 
                            excelente a sus clientes y sus empleados.
                        </p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>VALORES</h3>
                        <p>- Respeto</p>
                        <p>- Honestidad</p>
                        <p>- Integridad</p>
                        <p>- Excelencia</p>
                    </div>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-12">
                    <h2 class="noo-sh-title">Nuestra organizacion</h2>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="hover-team">
                        <div class="our-team"> <img src="../../static/images/img-1.jpg" alt="" />
                        </div>
                        <div class="team-description">
                            <p>123456789</p>
                        </div>
                        <hr class="my-0"> </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="hover-team">
                        <div class="our-team"> <img src="../../static/images/img-2.jpg" alt="" />
                        </div>
                        <div class="team-description">
                            <p>987456321</p>
                        </div>
                        <hr class="my-0"> </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="hover-team">
                        <div class="our-team"> <img src="../../static/images/img-3.jpg" alt="" />
                        </div>
                        <div class="team-description">
                            <p>vulputate. </p>
                        </div>
                        <hr class="my-0"> </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="hover-team">
                        <div class="our-team"> <img src="../../static/images/img-1.jpg" alt="" />
                        </div>
                        <div class="team-description">
                            <p>Maecenas vulputate. </p>
                        </div>
                        <hr class="my-0"> </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About Page -->

    <!-- Start Instagram Feed  -->
    <div class="instagram-box">
        <div class="main-instagram owl-carousel owl-theme">
            <div class="item">
                <div class="ins-inner-box">
                    <img src="../../static/images/instagram-img-01.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="../../static/images/instagram-img-02.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="../../static/images/instagram-img-03.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="../../static/images/instagram-img-04.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="../../static/images/instagram-img-05.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="../../static/images/instagram-img-06.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="../../static/images/instagram-img-07.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="../../static/images/instagram-img-08.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="../../static/images/instagram-img-09.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="../../static/images/instagram-img-05.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Instagram Feed  -->


    <!-- Start Footer  -->
    <footer>
        <div class="footer-main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-widget">
                            <h4>DIVERXIA</h4>
                            <p>¡Bienvenidos a la comunidad oficial de Diverxia!
                             donde encontraras las mejores marcas en ropa y accesorios
                            </p>
                            <p>Ropa, Accesorios, Zapatillas, Camisas, Blusas, Pantalones,
                                Casacas, Gorras, Mochilas, Polos.
                            </p>
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-whatsapp" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-widget">
                            <h4>Informacion</h4>
                            <p>¡Compra por WhatsApp! 📱💬 Ahora estamos más cerca de ti 🙂

                                *comunícate con tu asesor especializado quien te orientará en tu compra
                                 y hará que te llegue el pedido aún más rápido 😉👇</p>
                            <p><i class="fab fa-whatsapp fa-2x"></i>  937389730<a href="937389730"></a></p>
                            
                            <p>Horario: 09:00 - 20:00</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link-contact">
                            <h4>Contacto</h4>
                            <ul>
                                <li>
                                    <p><i class="fas fa-map-marker-alt"></i>Direccion: Plaza Norte  <br>stand 102<br> piso 2 </p>
                                </li>
                                <li>
                                    <p><i class="fas fa-phone-square"></i>Celular: <a href="#"> 937389730</a></p>
                                </li>
                                <li>
                                    <p><i class="fas fa-envelope"></i>Correo: <a href="mailto:contactinfo@gmail.com">ventasdivexia@divexia.com</a></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer  -->

    <!-- Start copyright  -->
    <div class="footer-copyright">
        <p class="footer-company">Derechos reservados &copy; 2020 <a href="#">Diverxia</a> Diseñado por :
            <a href="#">jramos</a></p>
    </div>
    <!-- End copyright  -->

    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

    <!-- ALL JS FILES -->
    <script src="../../static/js/jquery-3.2.1.min.js"></script>
    <script src="../../static/js/popper.min.js"></script>
    <script src="../../static/js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="../../static/js/jquery.superslides.min.js"></script>
    <script src="../../static/js/bootstrap-select.js"></script>
    <script src="../../static/js/inewsticker.js"></script>
    <script src="../../static/js/bootsnav.js."></script>
    <script src="../../static/js/images-loded.min.js"></script>
    <script src="../../static/js/isotope.min.js"></script>
    <script src="../../static/js/owl.carousel.min.js"></script>
    <script src="../../static/js/baguetteBox.min.js"></script>
    <script src="../../static/js/form-validator.min.js"></script>
    <script src="../../static/js/contact-form-script.js"></script>
    <script src="../../static/js/custom.js"></script>
</body>

</html>