{% load static %}
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>Diverxia - 2020</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static "pagediverxia/css/bootstrap.min.css" %}">
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static "pagediverxia/css/style.css" %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static "pagediverxia/css/responsive.css" %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static "pagediverxia/css/custom.css" %}">
    <link rel="stylesheet" href="{% static "pagediverxia/css/categoria.css" %}">


</head>