{% load static %}
  <!-- ALL JS FILES -->
    <script src="{% static "pagediverxia/js/jquery-3.2.1.min.js" %}"></script>
    <script src="{% static "pagediverxia/js/popper.min.js" %}"></script>
    <script src="{% static "pagediverxia/js/bootstrap.min.js" %}"></script>
    <!-- ALL PLUGINS -->
    <script src="{% static "pagediverxia/js/jquery.superslides.min.js" %}"></script>
    <script src="{% static "pagediverxia/js/bootstrap-select.js" %}"></script>
    <script src="{% static "pagediverxia/js/inewsticker.js" %}"></script>
    <script src="{% static "pagediverxia/js/bootsnav.js" %}"></script>
    <script src="{% static "pagediverxia/js/images-loded.min.js" %}"></script>
    <script src="{% static "pagediverxia/js/isotope.min.js" %}"></script>
    <script src="{% static "pagediverxia/js/owl.carousel.min.js" %}"></script>
    <script src="{% static "pagediverxia/js/baguetteBox.min.js" %}"></script>
    <script src="{% static "pagediverxia/js/jquery-ui.js" %}"></script>
    <script src="{% static "pagediverxia/js/jquery.nicescroll.min.js" %}"></script>
    <script src="{% static "pagediverxia/js/form-validator.min.js" %}"></script>
    <script src="{% static "pagediverxia/js/contact-form-script.js" %}"></script>
    <script src="{% static "pagediverxia/js/custom.js" %}"></script>
    <script src="{% static "pagediverxia/js/categoria.js" %}"></script>